@model IEnumerable<Data.cong_viec>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ten_cong_viec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.muc_luong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.so_luong_tuyen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinh_thuc_lam_viec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cap_bac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yc_gioi_tinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_het_han)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kinh_nghiem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dia_diem_lam_viec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mo_ta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yeu_cau_ung_vien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quyen_loi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cach_thuc_ung_tuyen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ten_cong_viec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.muc_luong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.so_luong_tuyen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hinh_thuc_lam_viec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cap_bac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yc_gioi_tinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_het_han)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kinh_nghiem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dia_diem_lam_viec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mo_ta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yeu_cau_ung_vien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quyen_loi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cach_thuc_ung_tuyen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
