@model Data.cong_viec

@{
    ViewBag.Title = "JobDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>JobDetails</h2>

<div>
    <h4>cong_viec</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_cong_viec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_cong_viec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.muc_luong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.muc_luong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.so_luong_tuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.so_luong_tuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinh_thuc_lam_viec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinh_thuc_lam_viec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cap_bac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cap_bac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yc_gioi_tinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yc_gioi_tinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_het_han)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_het_han)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kinh_nghiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kinh_nghiem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dia_diem_lam_viec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia_diem_lam_viec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mo_ta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mo_ta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yeu_cau_ung_vien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yeu_cau_ung_vien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quyen_loi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quyen_loi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cach_thuc_ung_tuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cach_thuc_ung_tuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cong_ty.ten_cong_ty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cong_ty.ten_cong_ty)
        </dd>

    </dl>
</div>