@model Demo_1.Models.RegisterCompanyViewModel.RegisterCompanyViewModel

@{
    ViewBag.Title = "Đăng nhập - JobFinder Web tìm kiếm - đăng việc làm nhanh chóng";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/wwwroot/css/login.css" />
</head>
<body>
    <div class="container d-flex" style="margin-top: 32px; width: 100%;">
        <div class="box-right">
            box right
        </div>
        <div class="box-left">
            @using (Html.BeginForm("Register", "Company", FormMethod.Post))
            {
                <a href="/Home/Index">
                    <img src="~/wwwroot/image/Logo.png" style="width: 120px;" />
                </a>
                <div class="title">
                    <h3>Chào mừng bạn trở lại</h3>
                    <p>Cùng xây dựng một hồ sơ nổi bật và nhận được các cơ hội sự nghiệp lý tưởng</p>
                </div>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <p>Họ và tên</p>
                    <div class="box-input">
                        <ion-icon name="person"></ion-icon>
                        @Html.TextBoxFor(model => model.Name, new { @placeholder = "Nhập họ và tên", @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    <p>Số điện thoại</p>
                    <div class="box-input">
                        <ion-icon name="call"></ion-icon>
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @placeholder = "Nhập số điện thoại", @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <p>Mật khẩu</p>
                    <div class="box-input">
                        <ion-icon name="key"></ion-icon>
                        @Html.PasswordFor(model => model.Password, new { @placeholder = "Nhập mật khẩu", @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <p>Xác nhận mật khẩu</p>
                    <div class="box-input">
                        <ion-icon name="key"></ion-icon>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @placeholder = "Nhập lại mật khẩu", @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <div class="form-group text-center box-btn">
                    <div class="col-12">
                        <button class="btn btn-info btn-lg text-uppercase" type="submit">Đăng ký</button>
                    </div>
                </div>
                <div class="box-author">
                    <p>Hoặc</p>
                    <div class="authors">
                        <a href="#" class="btn btn-signin btn-facebook input-block-level mx-1 h-40 my-3">
                            <ion-icon name="logo-facebook"></ion-icon>
                            <span>Facebook</span>
                        </a>
                        <a href="#" class="btn btn-signin btn-google input-block-level mx-1 h-40 my-3">
                            <ion-icon name="logo-google"></ion-icon>
                            <span>Google</span>
                        </a>
                        <a href="#" class="btn btn-signin btn-twitter input-block-level mx-1 h-40 my-3">
                            <ion-icon name="logo-twitter"></ion-icon>
                            <span>Twitter</span>
                        </a>
                    </div>
                </div>
                <div class="box-options">
                    <div class="box-signup">
                        <p>Bạn chưa đã tài khoản?</p>
                        @Html.ActionLink("Đăng nhập", "Index", "Company", new { area = " " }, new { @class = "nav-link" })
                    </div>
                    @Html.ActionLink("Quên mật khẩu", "ForgotPassword", "Company", new { area = " " }, new { @class = "nav-link" })
                </div>
                <div class="box-support">
                    <p>Bạn đang khó khăn trong việc tạo tài khoản?</p>
                    <span>Hãy gọi tới số (84)-386545891 (giờ hành chính)</span>
                </div>
            }
        </div>

    </div>
</body>
</html>